<h2>Employment Distribution</h2>

<p class="lead">
		The sectors that employ most population of a nation depend on several things like location of a country, its natural resources and its working population age.
	China which was predominantly an Industrial workforce and India which was an Agriculture rich nation has shown huge increase in service sector in which developed nations like Japan and USA were dominant since 1980s. </p>
<select id="Ecountries" class="btn btn-secondary dropdown-toggle">
	<option value="Nigeria" selected="selected">Nigeria</option>
	<option value="China">China</option>
	<option value="Japan">Japan</option>
	<option value="Bangladesh">Bangladesh</option>
	<option value="India">India</option>
	<option value="Pakistan">Pakistan</option>
	<option value="Indonesia">Indonesia</option>
	<option value="Mexico">Mexico</option>
	<option value="Brazil">Brazil</option>
	<option value="United States of America">United States of America</option>
</select>
<br/>
<br/>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
	<label class="btn btn-secondary active" id="bar">
	  <input type="radio" name="options"  autocomplete="off"  checked> Bar
	</label>
	<label class="btn btn-secondary" id="radial">
	  <input type="radio" name="options"  autocomplete="off"> Radial
	</label>

</div>
  <br/>
	<br/>
	
	
<div id="insvg">
		<div id="buttondiv2">
				<button id="absolute_val" type="button" class="btn btn-outline-success">Absolute</button>
				<br/><br/><br/>
				<button id="pct_val" type="button" class="btn btn-outline-danger">Percentage</button>
				<br/><br/><br/>
				<div id="tooltip" class="card">
						<div id="texttitle" class="card-header" style="font-size: 16px"><b>Details</b></div>
						<div id = "tooltip-body" class="card-body">
						</div>
					</div>
				</div>
	<svg width="600" height="600" id="chart2"></svg>
</div>
	
<p>Note: AHFF - Agriculture, hunting, forestry, fishing</p>
<div id="tooltip_bar"></div>
<p class="lead">
The sectors are also very much affected by automation and skill involved in labor.
Industrial sector has been reducing as we are making progress in robotics and automation.
The skill involved in service sectors are also driving unemployment rate among unskilled labor.
<br/>Therefore, you will also see a change in GDP of countries which employ in this sector.</p>
<br/><br/><br/>
