<h2>
  Age Distribution and Dependency Ratio
</h2>
<br/><br/>
<h3>What is Dependency Ratio ?</h3>
<p class="lead">
		Dependency ratio is an age-population ratio of those typically not in the labor force (the dependent part ages 0 to 14 and 65+) and those typically in the labor force (the productive part ages 15 to 64). It is used to measure the pressure on productive population.

		Consideration of the dependency ratio is essential for governments, economists, bankers, business, industry, universities and all other major economic segments which can benefit from understanding the impacts of changes in the dependency ratio.
</p>
<div class="card">
<blockquote class="blockquote">
		<p class="mb-0">&nbsp;Dependency ratio = (<u>Population Aged 0-14 + Population Aged 65 and above</u>)&nbsp;<br/> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Population Aged 15-65 Years</p>
	  </blockquote>
</div>
<br>
<!-- <div class="legend4">
	<div class="legend4"></div>
</div> -->
<span id="title"></span>
<br/>
<select id="countries" class="btn btn-secondary dropdown-toggle">
	<option value="Nigeria" selected="selected">Nigeria</option>
	<option value="China">China</option>
	<option value="Japan">Japan</option>
	<option value="Bangladesh">Bangladesh</option>
	<option value="India">India</option>
	<option value="Pakistan">Pakistan</option>
	<option value="Indonesia">Indonesia</option>
	<option value="Mexico">Mexico</option>
	<option value="Brazil">Brazil</option>
	<option value="United States of America">United States of America</option>
</select>
<br/>
<div id="tooltip"></div>
<div>
		<div id="buttondiv">
				<button id="pp" type="button" class="btn btn-outline-success">Absolute</button>
				<br/><br/><br/>
				<button id="pppct" type="button" class="btn btn-outline-danger">Percentage</button>
				<br/><br/><br/>
				<button id="auto" type="button" class="btn btn-outline-warning">Dependency Ratio</button>
		</div>
<svg id="chart1" width="1000" height="600"></svg>

</div>
<p class="lead">Nigeria and India are world's fastest growing populations with abundance of young working population, followed by other developing nations with abundance of youth.  With more awareness there are now policies for better birth and population control
		in these countries.
	On the other hand, country like Japan is continuously waning it's youth population as well as population growth.</p>

<h2>Dependency Trail</h2>
<br/>
With the change in population observed above you can analyze the trend in Dependency over the years.<br/><br/><br/>
<label class="btn btn-secondary active" id="trend">
	 Click to see Trend
  </label>
  <br/>
<span id="title2"></span>
<br/>
<svg id="chart2" width="1000" height="550"></svg>
<a id="here"></a>
<br/><br/><br/>