<h1>Demographic Study</h1>
<div id="introdiv"><ol>
<li> Understanding how <a href='#/chart1'>age distribution</a> in a country impacts the working population and dependant pressure.</li>


<li> Understanding how major <a href='#/chart2'>employment sectors</a> in a country have shaped its economy over time.</li>


<li> Visualizing the economic growth with  <a href='#/chart3'>gross domestic product</a> over time.</li>
</ol>
</div>
<br><br>
  <img src="assets/what-do-7-billion-people-do-infographic.png" width="40%" height="50%" />
  <br><br>